/*Lign Shade*/
/*Lign Shade*/
/*Lign Shade*/
/*color*/
@import url(../css/icomoon.css);
html {
  font-size: 62.5%;
  /* 0.625 x 16 = 10 Root */ }

a:link {
  color: #3639b4; }
a:hover {
  color: #2a2d8d; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #ffffff;
  font-size: 1.3rem;
  background: #f6f6f6; }
  body:lang(th) {
    font-family: 'Kanit', sans-serif; }
  body.modal-open {
    padding-right: 0 !important; }
    body.modal-open .modal {
      padding-right: 0 !important; }
      body.modal-open .modal .close {
        font-size: 2.5rem; }

.number-font {
  font-family: 'Lato', sans-serif !important; }

.mand {
  color: #f02748;
  margin-left: .25rem; }

.pull-right {
  float: right; }

.table-responsive {
  overflow: auto; }
  .table-responsive.cart tbody td {
    padding: 2rem 1rem; }

/* Border */
.border-none {
  border: 0 !important; }
.border-top-none {
  border-top: 0 !important; }
.border-right-none {
  border-right: 0 !important; }
.border-bottom-none {
  border-bottom: 0 !important; }
.border-left-none {
  border-left: 0 !important; }

.line {
  border: 0.1rem solid #e0dee1; }

/* Extra large screen */
@media (min-width: 1366px) {
  .container {
    max-width: 1300px; } }
/* Header Panel */
.header-panel {
  background-color: #ffffff; }
  .header-panel .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0; }

.logo {
  flex-basis: 24.4rem;
  margin: 0.7rem 0; }

.main-nav {
  background-color: #100e37;
  height: 31px; }

@media only screen and (max-width: 1023px) {
  .badge-panel h4 {
    text-align: left; } }
@media only screen and (max-width: 992px) {
  .nav-pad-quick {
    position: static;
    right: inherit;
    top: inherit;
    z-index: inherit; }
    .nav-pad-quick ul.quickmain {
      text-align: center; }
      .nav-pad-quick ul.quickmain li {
        margin: 0 .5rem; } }
@media only screen and (max-width: 767px) {
  .badge-panel h4 {
    display: none; }

  .header-panel .container {
    padding: 2rem 0; }

  .logo {
    flex-basis: 15rem;
    margin: 0 auto; } }
@media only screen and (max-width: 567px) {
  .badge-panel {
    min-height: 3.6rem; }
    .badge-panel h4 {
      display: none; } }
.footer {
  background-color: #f6f6f6;
  margin-top: 0rem; }
  .footer .footer-link-two ul li h3 {
    text-align: left; }
  .footer .footer-link-two ul li p {
    text-align: left;
    font-size: 1.3rem; }
  .footer .foot-pad {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem 0; }
  .footer .qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 14.5rem;
    margin: 2rem 0 0 0; }
    .footer .qr-code .qr-code-img img {
      width: 14.5rem;
      height: 14.5rem; }
    .footer .qr-code h5 {
      font-size: 1.3rem;
      color: #939393; }
    .footer .qr-code span {
      font-size: 1.5rem;
      font-weight: 600; }
  .footer ul {
    margin: 0 1.5rem;
    padding: 0;
    flex-grow: 1; }
    .footer ul.social-icons li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 3rem; }
    .footer ul.social li {
      display: block;
      margin: 0 1rem 1rem 0; }
      .footer ul.social li:first-child {
        width: 100%; }
    .footer ul li {
      list-style: none;
      font-size: 1.1rem;
      margin-bottom: .6rem;
      font-size: 1.4rem; }
      .footer ul li .icon-call {
        font-size: 2.3rem; }
        .footer ul li .icon-call:before {
          color: #100e37; }
      .footer ul li p {
        color: #939393; }
      .footer ul li a {
        color: #939393 !important;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.231rem; }
        .footer ul li a:hover {
          opacity: .7; }
        .footer ul li a.payment-logo {
          display: flex;
          background: url("../images/payment.svg") no-repeat left;
          background-size: contain;
          height: 4rem;
          margin: 0;
          width: 90%; }
        .footer ul li a.logistics-logo {
          display: flex;
          background: url("../images/logistics.svg") no-repeat left;
          background-size: contain;
          height: 4rem;
          margin: 0;
          width: 90%; }
        .footer ul li a .phone-number {
          font-size: 2rem;
          font-weight: 600;
          color: #100e37; }
      .footer ul li div {
        display: inline;
        width: 2rem;
        display: inline-flex;
        text-align: center;
        padding: .2rem 0;
        margin-right: .7rem;
        background: #4d51bd; }
        .footer ul li div.social {
          border-radius: 50%;
          padding: .5rem 1rem;
          border: 0;
          background: #4f3fb3;
          margin: 0;
          justify-content: center;
          color: #ffffff;
          margin-right: .7rem; }
          .footer ul li div.social:hover i {
            color: #f02748; }
          .footer ul li div.social i {
            padding: 0;
            margin: 0;
            font-size: 1rem; }
        .footer ul li div i {
          padding: 0;
          margin: 0 auto;
          color: #ffffff; }
      .footer ul li h3 {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0 0 2rem 0;
        color: #100e37; }
    .footer ul:first-child {
      margin-left: 0; }
    .footer ul:last-child {
      margin-right: 0; }
    .footer ul:nth-child(3) {
      flex-grow: 3; }
  .footer .footer-top {
    background: #100e37;
    padding: 2rem 0; }
    .footer .footer-top .social-icons-container ul {
      margin: 1.5rem 0 0 0;
      padding: 0;
      display: flex;
      justify-content: flex-start; }
      .footer .footer-top .social-icons-container ul li {
        list-style: none;
        margin: 0 1.5rem 0 0;
        padding: 0; }
        .footer .footer-top .social-icons-container ul li a {
          height: 3.6rem;
          display: flex;
          align-items: center;
          justify-content: center; }
        .footer .footer-top .social-icons-container ul li i {
          font-size: 3.2rem !important;
          color: #ffffff; }
    .footer .footer-top .social-icons-container h4 {
      color: #ffffff; }
    .footer .footer-top .nocnoc-news {
      display: flex;
      align-items: flex-end;
      flex-direction: column; }
      .footer .footer-top .nocnoc-news h4 {
        color: #ffffff;
        padding-right: 4.4rem;
        margin-bottom: 1.5rem; }
      .footer .footer-top .nocnoc-news .news-container {
        display: flex;
        max-width: 28.8rem;
        width: 100%; }
        .footer .footer-top .nocnoc-news .news-container .icon-news {
          padding: 1rem;
          background: #ffffff;
          color: #3639b4;
          text-align: center; }
      .footer .footer-top .nocnoc-news .form-control {
        border: 0;
        padding-left: 0; }
      .footer .footer-top .nocnoc-news button {
        background-color: #f8531e !important;
        padding-right: 1rem;
        padding-left: 1rem; }
        .footer .footer-top .nocnoc-news button:before {
          position: relative;
          content: "";
          display: inline-block;
          width: 0.6em;
          height: 0.6em;
          border-right: 0.2em solid #ffffff;
          border-top: 0.2em solid #ffffff;
          transform: rotate(45deg);
          margin-right: 0.5em; }

@media only screen and (max-width: 991px) {
  .footer ul {
    margin: 0; }
  .footer .foot-pad {
    flex-direction: row;
    padding-top: 0;
    flex-wrap: wrap;
    justify-content: flex-start; }
  .footer .footer-link-three, .footer .footer-link-four {
    margin-top: 2rem; } }
@media only screen and (max-width: 767px) {
  .footer .footer-top .nocnoc-news {
    align-items: center;
    flex-direction: column;
    margin-top: 2rem; }
    .footer .footer-top .nocnoc-news h4 {
      padding-right: 0;
      font-size: 1.4rem; }
  .footer .footer-top .social-icons-container ul {
    justify-content: center; }
  .footer .footer-top .social-icons-container h4 {
    text-align: center;
    font-size: 1.4rem; }
  .footer .footer-link-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .footer .footer-link-two {
    margin-bottom: 3rem; }
    .footer .footer-link-two ul li {
      text-align: center; }
      .footer .footer-link-two ul li:first-child {
        display: flex;
        justify-content: center; }
      .footer .footer-link-two ul li h3, .footer .footer-link-two ul li p {
        text-align: center; }
    .footer .footer-link-two .qr-code-img {
      content: url("../images/line-img-footer.png");
      width: 10rem; }
      .footer .footer-link-two .qr-code-img img {
        display: none; }
  .footer .qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 14.5rem;
    margin: 2rem auto 0; }
  .footer .footer-link-three, .footer .footer-link-four, .footer .footer-link-five, .footer .footer-link-six {
    display: none; }
  .footer .copyright {
    display: none !important; } }
@media only screen and (max-width: 320px) {
  .footer ul {
    width: 100%; } }
.footer .rights {
  background-color: #100e37;
  color: #ffffff;
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem 0; }
.footer .copyright {
  display: flex;
  justify-content: space-between;
  color: #999;
  font-size: 1.3rem;
  padding: 3rem 0;
  margin: 3rem 0 0;
  border-top: 0.1rem solid #cccccc; }
  .footer .copyright .left {
    width: 30%;
    float: left; }
  .footer .copyright .right {
    width: 70%;
    float: left;
    text-align: right; }

.left-panel {
  flex: 0 0 26rem;
  background-color: #ffffff;
  margin-right: .7rem;
  border-radius: .1rem;
  padding: 1rem; }

@media only screen and (max-width: 767px) {
  .left-panel {
    flex: 0 0 100%;
    margin: 0; } }
.right-panel {
  flex: 4;
  background-color: #fff;
  margin-left: 1rem;
  border-radius: .1rem;
  padding: 1.5rem; }
  .right-panel .profile {
    margin: 1rem 0 0 0; }

@media only screen and (max-width: 767px) {
  .right-panel {
    flex: 0 0 100%;
    margin: 0; } }
.content-wrap {
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.16); }

.static-pad {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  padding: 2rem 0; }
  .static-pad .side-bar {
    width: 24.5%;
    background-color: #ffffff;
    padding: 1.5rem;
    margin-right: 1.5%; }
    .static-pad .side-bar ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-family: 'Kanit', sans-serif;
      font-weight: 400; }
      .static-pad .side-bar ul li {
        margin: 0;
        width: 100%;
        font-family: 'Kanit', sans-serif;
        font-weight: 400; }
        .static-pad .side-bar ul li a {
          color: #303030;
          text-decoration: none;
          font-size: 1.538rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem;
          border-bottom: 0.1rem solid #e0dee1;
          font-family: 'Kanit', sans-serif;
          font-weight: 400; }
          .static-pad .side-bar ul li a:hover {
            background: #f6f6f6; }
          .static-pad .side-bar ul li a.active {
            background: #f6f6f6;
            font-weight: 600; }
  .static-pad .static-content {
    width: 74%;
    padding: 1.5rem;
    background: #ffffff; }
    .static-pad .static-content ul {
      margin: 0;
      padding: 0 0 0 2rem;
      list-style-type: none; }
      .static-pad .static-content ul li {
        margin: 0 0 0.6rem 0; }
        .static-pad .static-content ul li i {
          margin: 0 1rem 0 0; }
        .static-pad .static-content ul li ul {
          list-style: circle;
          margin: 1rem 0 0 0;
          padding: 0 0 0 3rem; }
    .static-pad .static-content h4 {
      font-weight: 500;
      color: #000;
      margin: 0 0 1rem 0; }
    .static-pad .static-content h5 {
      font-size: 1.4rem; }
    .static-pad .static-content p {
      font-size: 1.385rem; }
  .static-pad #accordion {
    font-family: 'Kanit', sans-serif;
    font-weight: 400; }
    .static-pad #accordion .card {
      margin-bottom: 0rem;
      border: 0; }
    .static-pad #accordion .card-header {
      padding: 1.5rem 1.5rem 1.5rem 0;
      border-radius: 0;
      background: none;
      color: #303030;
      border-bottom: 0;
      cursor: pointer;
      border-top: 0.1rem solid #e0dee1;
      border-radius: 0;
      text-decoration: none;
      cursor: default; }
      .static-pad #accordion .card-header.collapsed {
        background: none; }
      .static-pad #accordion .card-header .btn {
        text-transform: capitalize !important;
        font-size: 2rem;
        padding: 0;
        color: #3639b4;
        text-align: left;
        line-height: 1;
        text-decoration: none;
        cursor: default; }
        .static-pad #accordion .card-header .btn i {
          font-size: 1.538rem; }
      .static-pad #accordion .card-header .fa-minus, .static-pad #accordion .card-header .fa-plus {
        font-size: 1.538rem; }
    .static-pad #accordion .card-body {
      padding: 0;
      width: 80%; }
      .static-pad #accordion .card-body p {
        font-size: 1.385rem; }

.custom-search-input {
  padding: 0.3rem;
  border: solid 1px #e0dee1;
  border-radius: 0;
  background-color: #ffffff;
  width: 50%; }
  .custom-search-input input {
    border: 0;
    box-shadow: none;
    font-size: 1.3rem; }
    .custom-search-input input:focus {
      outline: none;
      border: 0;
      box-shadow: none; }
  .custom-search-input button {
    margin: 0.2rem 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #999;
    background: #ffffff;
    padding: 0 8px 0 10px;
    border-left: 0.1rem solid #e0dee1; }
    .custom-search-input button:hover {
      border: 0;
      box-shadow: none;
      border-left: 0.1rem solid #e0dee1;
      background: #ffffff;
      color: #f8531e; }
    .custom-search-input button:active {
      background-color: #ffffff !important;
      border-left: 0.1rem solid #e0dee1 !important;
      color: #f8531e !important; }
    .custom-search-input button i {
      font-size: 1.3rem; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 7rem;
  right: 2.5rem;
  z-index: 99;
  font-size: 3rem;
  border: none;
  outline: none;
  color: #4d51bd;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  background: none;
  width: 3rem;
  height: 3rem;
  line-height: normal; }

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden; } }
@media only screen and (max-width: 767px) {
  .static-pad {
    flex-direction: column; }
    .static-pad .side-bar {
      width: 100%; }
    .static-pad .static-content {
      width: 100%; }

  .card-header .btn {
    white-space: pre-line; } }

/*# sourceMappingURL=style.css.map */
